{
  "openapi": "3.1.0",
  "info": {
    "title": "External API (ERP Integration)",
    "version": "1.0.0",
    "description": "API externa para integração ERP <-> Plataforma E-commerce.\nEscopo exclusivo de endpoints em /external/v1/* (produtos, variantes, estoque, pedidos, clientes, cupons e webhooks).\n\nIdentificação da loja:\n  - Preferencialmente por X-API-Key\n  - Ou por Authorization Bearer (JWT com store_id)\n\nEsta especificação não inclui fluxo de storefront.\n"
  },
  "servers": [
    {
      "url": "https://api.upzero.com.br",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Analytics"
    },
    {
      "name": "Attributes"
    },
    {
      "name": "Categories"
    },
    {
      "name": "Internal Categories"
    },
    {
      "name": "Products"
    },
    {
      "name": "Variants"
    },
    {
      "name": "Inventory"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Coupons"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Labels"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/external/v1/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Listar produtos da integração externa",
        "description": "Por padrão, retorna apenas produtos ativos (`status: active`).\nUse `include_inactive=true` para incluir produtos inativos na listagem.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/integration"
          },
          {
            "$ref": "#/components/parameters/include_inactive"
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filtra por external_id no contexto da integração."
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filtra por código interno do produto."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Criar produto (integração externa)",
        "description": "Fluxo recomendado:\n1. Liste atributos válidos da loja em `GET /external/v1/attributes`.\n2. Escolha os códigos de atributo (`attribute.code`) e termo (`term.code`) retornados.\n3. Envie estes códigos no payload de criação de produto.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Produto criado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "401": {
            "description": "API key inválida ou ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Atributo/termo inválido para a loja.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/products/batch": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Criar ou atualizar produtos em lote",
        "description": "Upsert de produtos na mesma requisição.\n**Limite: máximo 50 itens por batch.** Para quantidades maiores, use múltiplos batches.\n\nIdentificação de cada item, nesta ordem:\n1. `id` (ou `product_id`) — atualiza o produto interno; se não existir, o item falha.\n2. `code` existente na loja — atualiza.\n3. `external_ref` existente — atualiza.\n4. Caso contrário — cria (`name` obrigatório).\n\nAtualização é parcial: campos omitidos não são alterados.\n`variants` faz upsert e não apaga variantes omitidas.\nImagens e vídeos não entram neste payload — use os endpoints de images/videos.\n\nProcessamento com isolamento por item: falha em um item não interrompe os demais.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductBatchRequest"
              },
              "examples": {
                "complete_upsert": {
                  "summary": "Payload completo de upsert (criar ou atualizar)",
                  "value": {
                    "items": [
                      {
                        "external_ref": {
                          "integration": "bling",
                          "external_id": "PROD-VE230034"
                        },
                        "code": "VE230034",
                        "name": "VESTIDO LONGO MAXI",
                        "description_html": "<p>Vestido longo modelagem maxi.</p>",
                        "status": "active",
                        "tags": [
                          "verao"
                        ],
                        "category_ids": [
                          "12"
                        ],
                        "product_category_ids": [
                          "3"
                        ],
                        "variants": [
                          {
                            "id": "1608",
                            "external_ref": {
                              "integration": "bling",
                              "external_id": "VAR-VE230034-AZIT-UN"
                            },
                            "sku": "VE230034-AZIT-UN",
                            "barcode": "7890000000012",
                            "price": "319.00",
                            "promotional_price": "289.00",
                            "cost": "191.40",
                            "weight": "250",
                            "attributes": [
                              {
                                "attribute": {
                                  "id": "12",
                                  "name": "Cor",
                                  "code": "color"
                                },
                                "term": {
                                  "name": "Azul Intenso",
                                  "code": "AZIT"
                                }
                              },
                              {
                                "attribute": {
                                  "id": "13",
                                  "name": "Tamanho",
                                  "code": "size"
                                },
                                "term": {
                                  "name": "Único",
                                  "code": "UN"
                                }
                              }
                            ],
                            "active": true
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lote processado (com possíveis erros por item).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido (array vazio, limite de 50 itens excedido, etc).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "limit_exceeded": {
                    "value": {
                      "message": "máximo 50 itens por batch; use múltiplos batches para mais itens"
                    }
                  },
                  "empty_items": {
                    "value": {
                      "message": "items deve conter ao menos 1 produto"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "API key inválida ou ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/products/{product_id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Obter produto da integração externa por ID interno",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Produto.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "product_not_found_by_code": {
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Produto não encontrado"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Atualizar produto da integração externa (parcial)",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdateRequest"
              },
              "examples": {
                "patch_product": {
                  "value": {
                    "name": "Camiseta Basic Atualizada",
                    "status": "inactive",
                    "category_ids": [
                      "12",
                      "18"
                    ],
                    "product_category_ids": [
                      "3",
                      "7"
                    ],
                    "variants": [
                      {
                        "id": "501",
                        "price": "89.90",
                        "promotional_price": "69.90",
                        "cost": "53.94",
                        "attributes": [
                          {
                            "attribute": {
                              "id": "12",
                              "name": "Cor",
                              "code": "color"
                            },
                            "term": {
                              "name": "Azul Intenso",
                              "code": "AZIT"
                            }
                          },
                          {
                            "attribute": {
                              "id": "13",
                              "name": "Tamanho",
                              "code": "size"
                            },
                            "term": {
                              "name": "M",
                              "code": "M"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "patch_categories_only": {
                  "summary": "Atualizar somente categorias do produto",
                  "value": {
                    "category_ids": [
                      "12",
                      "21"
                    ],
                    "product_category_ids": [
                      "3",
                      "9"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Produto atualizado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "422": {
            "description": "Payload inválido (categorias/atributos/valores).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_category_ids": {
                    "summary": "Payload com categorias inválidas na atualização",
                    "value": {
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Uma ou mais categorias externas não pertencem à loja",
                        "details": {
                          "field": "category_ids",
                          "rejected_value": [
                            "999999"
                          ],
                          "hint": "Use GET /external/v1/categories para obter IDs válidos"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Arquivar produto da integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Arquivado."
          }
        }
      }
    },
    "/external/v1/products/by-code/{code}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Obter produto da integração externa por código interno",
        "description": "Por padrão, retorna apenas produtos ativos (`status: active`).\nUse `include_inactive=true` para buscar produtos inativos pelo código.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_code"
          },
          {
            "$ref": "#/components/parameters/include_inactive"
          }
        ],
        "responses": {
          "200": {
            "description": "Produto.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                },
                "examples": {
                  "product_by_code_example": {
                    "value": {
                      "id": "70",
                      "product_id": "70",
                      "external_ref": null,
                      "code": "VE230034",
                      "name": "VESTIDO LONGO MAXI",
                      "description_html": "<p>Vestido longo modelagem maxi...</p>",
                      "status": "active",
                      "tags": [],
                      "category_ids": [
                        "12",
                        "15"
                      ],
                      "variants": [
                        {
                          "id": "1608",
                          "product_id": "70",
                          "external_ref": {
                            "integration": "bling",
                            "external_id": "VAR-VE230034-AZIT-UN"
                          },
                          "sku": "VE230034-AZIT-UN",
                          "barcode": null,
                          "price": "319.00",
                          "promotional_price": null,
                          "cost": "191.40",
                          "attributes": [
                            {
                              "attribute": {
                                "id": "12",
                                "name": "Cor",
                                "code": "color"
                              },
                              "term": {
                                "name": "Azul Intenso",
                                "code": "AZIT"
                              }
                            },
                            {
                              "attribute": {
                                "id": "13",
                                "name": "Tamanho",
                                "code": "size"
                              },
                              "term": {
                                "name": "Único",
                                "code": "UN"
                              }
                            }
                          ],
                          "active": true,
                          "created_at": "2025-12-31T03:58:15.196845+00:00",
                          "updated_at": "2025-12-31T16:13:34.166223+00:00"
                        }
                      ],
                      "created_at": "2026-03-04T23:02:59.299688+00:00",
                      "updated_at": "2026-03-04T23:02:59.343002+00:00"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/products/{product_id}/images": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Listar imagens do produto na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de imagens do produto.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductImageResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Adicionar imagem ao produto na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductImageCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Imagem criada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido de imagem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/products/{product_id}/images/{image_id}": {
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Atualizar imagem do produto na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/image_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductImageUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Imagem atualizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido de imagem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Produto ou imagem não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Remover imagem do produto na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/image_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Imagem removida."
          },
          "404": {
            "description": "Produto ou imagem não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/products/{product_id}/videos": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Listar vídeos do produto na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de vídeos do produto.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductVideoResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Adicionar vídeo ao produto na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductVideoCreateRequest"
              },
              "examples": {
                "by_url": {
                  "summary": "Vincular vídeo por URL pública",
                  "value": {
                    "url": "https://cdn.exemplo.com/produtos/vestido-azul.mp4",
                    "name": "Vídeo principal",
                    "attributes": [
                      {
                        "attribute": {
                          "id": "12",
                          "name": "Cor",
                          "code": "color"
                        },
                        "term": {
                          "name": "Azul",
                          "code": "AZ"
                        }
                      }
                    ]
                  }
                },
                "by_base64": {
                  "summary": "Enviar vídeo em base64 para upload automático",
                  "value": {
                    "base64": "data:video/mp4;base64,AAAAIGZ0eXBtcDQyAAAAAG1wNDFpc29t...",
                    "name": "Vídeo em base64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vídeo criado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido de vídeo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/products/{product_id}/videos/{video_id}": {
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Atualizar vídeo do produto na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID interno do vídeo do produto."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductVideoUpdateRequest"
              },
              "examples": {
                "update_by_url": {
                  "summary": "Atualizar vídeo por URL",
                  "value": {
                    "url": "https://cdn.exemplo.com/produtos/vestido-azul-v2.mp4",
                    "name": "Vídeo principal v2"
                  }
                },
                "update_by_base64": {
                  "summary": "Atualizar vídeo com novo arquivo base64",
                  "value": {
                    "base64": "AAAAIGZ0eXBtcDQyAAAAAG1wNDFpc29t..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vídeo atualizado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido de vídeo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Produto ou vídeo não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Remover vídeo do produto na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID interno do vídeo do produto."
          }
        ],
        "responses": {
          "204": {
            "description": "Vídeo removido."
          },
          "404": {
            "description": "Produto ou vídeo não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/attributes": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "Listar atributos da integração externa",
        "responses": {
          "200": {
            "description": "Lista de atributos e termos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeResponse"
                  }
                },
                "examples": {
                  "up_store_valid_attributes": {
                    "value": [
                      {
                        "id": "1",
                        "external_ref": {
                          "integration": "bling",
                          "external_id": "ATTR-COLOR"
                        },
                        "code": "color",
                        "name": "Cor",
                        "sort_order": 0,
                        "terms": [
                          {
                            "id": "12",
                            "attribute_id": "1",
                            "code": "AZIT",
                            "name": "Azul Intenso",
                            "sort_order": 0
                          },
                          {
                            "id": "17",
                            "attribute_id": "1",
                            "code": "PR",
                            "name": "Preto",
                            "sort_order": 0
                          }
                        ]
                      },
                      {
                        "id": "2",
                        "code": "size",
                        "name": "Tamanho",
                        "sort_order": 1,
                        "terms": [
                          {
                            "id": "30",
                            "attribute_id": "2",
                            "code": "M",
                            "name": "M",
                            "sort_order": 0
                          },
                          {
                            "id": "31",
                            "attribute_id": "2",
                            "code": "G",
                            "name": "G",
                            "sort_order": 0
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attributes"
        ],
        "summary": "Criar atributo da integração externa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributeCreateRequest"
              },
              "examples": {
                "create_attribute_example": {
                  "value": {
                    "external_ref": {
                      "integration": "bling",
                      "external_id": "ATTR-MATERIAL"
                    },
                    "code": "material",
                    "name": "Material",
                    "sort_order": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Atributo criado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/attributes/{attribute_id}": {
      "delete": {
        "tags": [
          "Attributes"
        ],
        "summary": "Remover atributo da integração externa",
        "parameters": [
          {
            "name": "attribute_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID interno do atributo."
          }
        ],
        "responses": {
          "204": {
            "description": "Atributo removido com sucesso."
          },
          "401": {
            "description": "API key inválida ou ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Atributo não encontrado para a loja.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/attributes/{attribute_id}/terms": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "Listar termos de um atributo da integração externa",
        "parameters": [
          {
            "name": "attribute_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID interno do atributo."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de termos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeTermResponse"
                  }
                },
                "examples": {
                  "color_terms_example": {
                    "value": [
                      {
                        "id": "12",
                        "attribute_id": "1",
                        "code": "AZIT",
                        "name": "Azul Intenso",
                        "sort_order": 0,
                        "rgb": "#0D6EFD"
                      },
                      {
                        "id": "17",
                        "attribute_id": "1",
                        "code": "PR",
                        "name": "Preto",
                        "sort_order": 0,
                        "rgb": "#000000"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attributes"
        ],
        "summary": "Criar termo em um atributo da integração externa",
        "parameters": [
          {
            "name": "attribute_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID interno do atributo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributeTermCreateRequest"
              },
              "examples": {
                "create_term_example": {
                  "value": {
                    "code": "ALG",
                    "name": "Algodão",
                    "sort_order": 0,
                    "rgb": "#F5F5DC"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Termo criado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeTermResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/attributes/{attribute_id}/terms/{term_id}": {
      "delete": {
        "tags": [
          "Attributes"
        ],
        "summary": "Remover termo de atributo da integração externa",
        "parameters": [
          {
            "name": "attribute_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID interno do atributo."
          },
          {
            "name": "term_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID interno do termo."
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Quando true e o termo estiver em uso por variantes, remove primeiro os vínculos em variantes e depois exclui o termo.\n"
          }
        ],
        "responses": {
          "204": {
            "description": "Termo removido com sucesso."
          },
          "409": {
            "description": "Conflito de negócio (termo em uso sem force=true) ou conflito estrutural ao forçar exclusão (remoção geraria variantes duplicadas).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "API key inválida ou ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Atributo ou termo não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/attributes/by-code/{attribute_code}/terms": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "Listar termos de um atributo por código na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/attribute_code"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de termos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeTermResponse"
                  }
                },
                "examples": {
                  "color_terms_by_code_example": {
                    "value": [
                      {
                        "id": "12",
                        "attribute_id": "1",
                        "code": "AZIT",
                        "name": "Azul Intenso",
                        "sort_order": 0
                      },
                      {
                        "id": "17",
                        "attribute_id": "1",
                        "code": "PR",
                        "name": "Preto",
                        "sort_order": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Atributo não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attributes"
        ],
        "summary": "Criar termo em um atributo por código na integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/attribute_code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributeTermCreateRequest"
              },
              "examples": {
                "create_term_by_code_example": {
                  "value": {
                    "code": "ALG",
                    "name": "Algodão",
                    "sort_order": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Termo criado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeTermResponse"
                }
              }
            }
          },
          "404": {
            "description": "Atributo não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Listar categorias da integração externa",
        "description": "Loja resolvida automaticamente por Authorization Bearer (JWT com store_id) ou X-API-Key.\nRetorna categorias pai com o array `children`.\nQuando `parent_id` é informado, retorna apenas a categoria pai correspondente com seus filhos.\n",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filtra por status da categoria externa (ativa/inativa)."
          },
          {
            "name": "parent_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Filtra por categoria pai específica (retorna pai e filhos)."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista hierárquica de categorias pai com filhas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryTreeResponse"
                  }
                },
                "examples": {
                  "categories_list_example": {
                    "value": [
                      {
                        "id": 1,
                        "name": "Eletronicos",
                        "status": true,
                        "parent_id": null,
                        "external_ref": {
                          "integration": "bling",
                          "external_id": "CAT-001"
                        },
                        "created_at": "2025-12-28T03:21:00.553422Z",
                        "updated_at": "2025-12-28T03:21:00.553422Z",
                        "children": [
                          {
                            "id": 2,
                            "name": "Celulares",
                            "status": true,
                            "parent_id": 1,
                            "external_ref": {
                              "integration": "bling",
                              "external_id": "CAT-002"
                            },
                            "created_at": "2025-12-28T03:21:00.553422Z",
                            "updated_at": "2025-12-28T03:21:00.553422Z"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Criar categoria da integração externa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryCreateRequest"
              },
              "examples": {
                "create_category_example": {
                  "value": {
                    "name": "Eletronicos",
                    "status": true,
                    "parent_id": null,
                    "external_ref": {
                      "integration": "bling",
                      "external_id": "CAT-001"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Categoria criada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Categoria pai não existe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "parent_not_found": {
                    "value": {
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Categoria pai não existe"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Obter categoria da integração externa por ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Categoria encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Categoria não encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "category_not_found": {
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Categoria não encontrada"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "Atualizar categoria da integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryUpdateRequest"
              },
              "examples": {
                "update_category_example": {
                  "value": {
                    "name": "Eletronicos Gerais",
                    "status": true,
                    "external_ref": {
                      "integration": "bling",
                      "external_id": "CAT-100"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categoria atualizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos (pai inexistente ou autorreferência).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_parent": {
                    "value": {
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Categoria pai não existe"
                      }
                    }
                  },
                  "self_parent": {
                    "value": {
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Uma categoria não pode ser pai de si mesma"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Categoria não encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "category_not_found": {
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Categoria não encontrada"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "Remover categoria da integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Categoria removida."
          },
          "400": {
            "description": "Categoria possui subcategorias.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "has_children": {
                    "value": {
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Não é possível deletar categoria com subcategorias. Delete as subcategorias primeiro."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Categoria não encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "category_not_found": {
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Categoria não encontrada"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/categories/{id}/children": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Listar categorias filhas da categoria pai",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de categorias filhas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Categoria pai não encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "parent_not_found": {
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Categoria não encontrada"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/internal-categories": {
      "get": {
        "tags": [
          "Internal Categories"
        ],
        "summary": "Listar categorias internas do ecommerce",
        "description": "Loja resolvida automaticamente por Authorization Bearer (JWT com store_id) ou X-API-Key.\nRetorna categorias pai com o array `children`.\nQuando `parent_id` é informado, retorna apenas a categoria pai correspondente com seus filhos.\n",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filtra por status da categoria interna (ativa/inativa)."
          },
          {
            "name": "parent_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Filtra por categoria pai específica (retorna pai e filhos)."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista hierárquica de categorias internas pai com filhas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryTreeResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Internal Categories"
        ],
        "summary": "Criar categoria interna do ecommerce",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Categoria interna criada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Categoria pai não existe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/internal-categories/{id}": {
      "get": {
        "tags": [
          "Internal Categories"
        ],
        "summary": "Obter categoria interna por ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Categoria interna encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Categoria interna não encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Internal Categories"
        ],
        "summary": "Atualizar categoria interna",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categoria interna atualizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos (pai inexistente ou autorreferência).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Categoria interna não encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Internal Categories"
        ],
        "summary": "Remover categoria interna",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Categoria interna removida."
          },
          "400": {
            "description": "Categoria possui subcategorias.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Categoria interna não encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/internal-categories/{id}/children": {
      "get": {
        "tags": [
          "Internal Categories"
        ],
        "summary": "Listar categorias internas filhas da categoria pai",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de categorias internas filhas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Categoria interna pai não encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/variants": {
      "get": {
        "tags": [
          "Variants"
        ],
        "summary": "Listar variantes da integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filtra variantes por ID interno do produto."
          },
          {
            "name": "sku",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filtra variantes por SKU."
          },
          {
            "$ref": "#/components/parameters/integration"
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filtra por external_id da variante na integração."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantListResponse"
                },
                "examples": {
                  "variants_list_example": {
                    "value": {
                      "data": [
                        {
                          "id": "1608",
                          "product_id": "70",
                          "external_ref": {
                            "integration": "bling",
                            "external_id": "VAR-VE230034-AZIT-UN"
                          },
                          "sku": "VE230034-AZIT-UN",
                          "barcode": null,
                          "price": "319.00",
                          "promotional_price": null,
                          "cost": "191.40",
                          "attributes": [
                            {
                              "attribute": {
                                "id": "12",
                                "name": "Cor",
                                "code": "color"
                              },
                              "term": {
                                "name": "Azul Intenso",
                                "code": "AZIT"
                              }
                            },
                            {
                              "attribute": {
                                "id": "13",
                                "name": "Tamanho",
                                "code": "size"
                              },
                              "term": {
                                "name": "Único",
                                "code": "UN"
                              }
                            }
                          ],
                          "active": true,
                          "created_at": "2025-12-31T03:58:15.196845+00:00",
                          "updated_at": "2025-12-31T16:13:34.166223+00:00"
                        }
                      ],
                      "next_cursor": "1608"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Variants"
        ],
        "summary": "Criar variante da integração externa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariantCreateRequest"
              },
              "examples": {
                "create_variant_real": {
                  "value": {
                    "product_id": "70",
                    "external_ref": {
                      "integration": "bling",
                      "external_id": "VAR-VE230034-AZIT-UN-ERP"
                    },
                    "sku": "VE230034-AZIT-UN-ERP",
                    "barcode": "7890001113335",
                    "price": "319.00",
                    "promotional_price": "289.00",
                    "cost": "191.40",
                    "attributes": [
                      {
                        "attribute": {
                          "id": "12",
                          "name": "Cor",
                          "code": "color"
                        },
                        "term": {
                          "name": "Azul Intenso",
                          "code": "AZIT"
                        }
                      },
                      {
                        "attribute": {
                          "id": "13",
                          "name": "Tamanho",
                          "code": "size"
                        },
                        "term": {
                          "name": "Único",
                          "code": "UN"
                        }
                      }
                    ],
                    "active": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Variante criada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantResponse"
                },
                "examples": {
                  "created_variant_real": {
                    "value": {
                      "id": "1786",
                      "product_id": "70",
                      "external_ref": {
                        "integration": "bling",
                        "external_id": "VAR-VE230034-AZIT-UN-ERP"
                      },
                      "sku": "VE230034-AZIT-UN-ERP",
                      "barcode": "7890001113335",
                      "price": "319.00",
                      "promotional_price": "289.00",
                      "cost": "191.40",
                      "attributes": [
                        {
                          "attribute": {
                            "id": "12",
                            "name": "Cor",
                            "code": "color"
                          },
                          "term": {
                            "name": "Azul Intenso",
                            "code": "AZIT"
                          }
                        },
                        {
                          "attribute": {
                            "id": "13",
                            "name": "Tamanho",
                            "code": "size"
                          },
                          "term": {
                            "name": "Único",
                            "code": "UN"
                          }
                        }
                      ],
                      "active": true,
                      "created_at": "2026-03-04T23:40:00Z",
                      "updated_at": "2026-03-04T23:40:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/variants/{variant_id}": {
      "get": {
        "tags": [
          "Variants"
        ],
        "summary": "Obter variante da integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/variant_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Variante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Variants"
        ],
        "summary": "Atualizar variante da integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/variant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariantUpdateRequest"
              },
              "examples": {
                "patch_variant_real": {
                  "value": {
                    "price": "309.00",
                    "promotional_price": "279.00",
                    "cost": "185.40",
                    "attributes": [
                      {
                        "attribute": {
                          "id": "12",
                          "name": "Cor",
                          "code": "color"
                        },
                        "term": {
                          "name": "Azul Intenso",
                          "code": "AZIT"
                        }
                      },
                      {
                        "attribute": {
                          "id": "13",
                          "name": "Tamanho",
                          "code": "size"
                        },
                        "term": {
                          "name": "Único",
                          "code": "UN"
                        }
                      }
                    ],
                    "active": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variante atualizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantResponse"
                },
                "examples": {
                  "updated_variant_real": {
                    "value": {
                      "id": "1608",
                      "product_id": "70",
                      "external_ref": {
                        "integration": "bling",
                        "external_id": "VAR-VE230034-AZIT-UN"
                      },
                      "sku": "VE230034-AZIT-UN",
                      "barcode": null,
                      "price": "309.00",
                      "promotional_price": "279.00",
                      "cost": "185.40",
                      "attributes": [
                        {
                          "attribute": {
                            "id": "12",
                            "name": "Cor",
                            "code": "color"
                          },
                          "term": {
                            "name": "Azul Intenso",
                            "code": "AZIT"
                          }
                        },
                        {
                          "attribute": {
                            "id": "13",
                            "name": "Tamanho",
                            "code": "size"
                          },
                          "term": {
                            "name": "Único",
                            "code": "UN"
                          }
                        }
                      ],
                      "active": true,
                      "created_at": "2025-12-31T03:58:15.196845+00:00",
                      "updated_at": "2026-03-04T23:45:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Variants"
        ],
        "summary": "Inativar variante da integração externa",
        "parameters": [
          {
            "$ref": "#/components/parameters/variant_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Inativada."
          }
        }
      }
    },
    "/external/v1/inventory/availability": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Consultar disponibilidade de estoque da variante na integração externa",
        "description": "Consulte por `variant_id` **ou** `sku`.\nSe ambos forem enviados, `variant_id` tem prioridade.\nSe `sku` for ambíguo na loja, retorna erro 400.\n",
        "parameters": [
          {
            "name": "variant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID interno da variante para consulta de disponibilidade (opcional se `sku` for informado)."
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "SKU da variante para consulta de disponibilidade (opcional se `variant_id` for informado)."
          }
        ],
        "responses": {
          "200": {
            "description": "Disponibilidade atual da variante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryAvailabilityResponse"
                },
                "examples": {
                  "availability_example": {
                    "value": {
                      "variant_id": "941",
                      "warehouse_id": null,
                      "totals": {
                        "qty_total": 23,
                        "qty_reserved": 3,
                        "qty_available": 20
                      },
                      "breakdown": []
                    }
                  },
                  "availability_by_sku_example": {
                    "summary": "Consulta por SKU",
                    "value": {
                      "variant_id": "941",
                      "warehouse_id": null,
                      "totals": {
                        "qty_total": 23,
                        "qty_reserved": 3,
                        "qty_available": 20
                      },
                      "breakdown": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos (`variant_id` inválido, `sku` vazio/ambíguo, ou ambos ausentes).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "API key inválida ou ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Variante não encontrada para a loja.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/inventory/adjust": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Ajustar estoque da variante na integração externa",
        "description": "Ajusta o estoque disponível da variante e registra movimento em `stock_movements`.\nIdentifique a variante por `variant_id` **ou** `sku` (ambos opcionais; pelo menos um obrigatório).\nTambém permite atualizar `price` e `promotional_price` da variante na mesma operação.\nQuando `cost` é enviado, ele registra o custo no item de movimento e também atualiza o custo da variante.\nSe `cost` não for enviado, o custo atual da variante é mantido.\nCompatibilidade: payloads legados com `unit_cost` também são aceitos.\nPara remover promoção, envie `promotional_price` como `\"0\"`.\nTipos recomendados:\n- `IN`: soma `qty` no estoque disponível.\n- `OUT`: subtrai `qty` do estoque disponível.\n- `SET`: define o estoque disponível para `qty` (valor absoluto).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryAdjustRequest"
              },
              "examples": {
                "increase_stock": {
                  "value": {
                    "movement_type": "IN",
                    "variant_id": "941",
                    "qty": 10,
                    "price": "59.90",
                    "promotional_price": "49.90",
                    "cost": "19.90",
                    "reference": {
                      "reference_type": "PURCHASE",
                      "reference_id": "PO-2026-010"
                    },
                    "note": "Recebimento de fornecedor"
                  }
                },
                "decrease_stock": {
                  "value": {
                    "movement_type": "OUT",
                    "variant_id": "941",
                    "qty": 2,
                    "note": "Avaria"
                  }
                },
                "set_absolute_stock": {
                  "value": {
                    "movement_type": "SET",
                    "variant_id": "941",
                    "qty": 5,
                    "note": "Inventário contado em loja"
                  }
                },
                "increase_stock_by_sku": {
                  "summary": "Ajustar estoque por SKU em vez de variant_id",
                  "value": {
                    "movement_type": "IN",
                    "sku": "CAM-BLK-M",
                    "qty": 8,
                    "price": "59.90",
                    "cost": "19.90",
                    "note": "Reposição por SKU"
                  }
                },
                "decrease_stock_by_sku": {
                  "summary": "Reduzir estoque por SKU",
                  "value": {
                    "movement_type": "OUT",
                    "sku": "CAM-RED-G",
                    "qty": 3,
                    "note": "Devolução por SKU"
                  }
                },
                "update_cost": {
                  "summary": "Atualiza custo da variante com cost",
                  "value": {
                    "movement_type": "IN",
                    "variant_id": "941",
                    "qty": 1,
                    "cost": "21.50",
                    "note": "Atualização de custo após nova compra"
                  }
                },
                "update_price_and_cost": {
                  "summary": "Atualiza preço e custo da variante na mesma operação",
                  "value": {
                    "movement_type": "IN",
                    "variant_id": "941",
                    "qty": 3,
                    "price": "62.90",
                    "cost": "22.30",
                    "note": "Reajuste de preço e custo"
                  }
                },
                "update_price_promo_and_cost": {
                  "summary": "Atualiza preço, promoção e custo na mesma operação",
                  "value": {
                    "movement_type": "IN",
                    "variant_id": "941",
                    "qty": 4,
                    "price": "64.90",
                    "promotional_price": "54.90",
                    "cost": "23.10",
                    "note": "Reajuste completo de preços e custo"
                  }
                },
                "clear_promotional_price": {
                  "summary": "Remove preço promocional da variante",
                  "value": {
                    "movement_type": "SET",
                    "variant_id": "941",
                    "qty": 5,
                    "promotional_price": "0",
                    "note": "Remoção de promoção"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ajuste aplicado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryAdjustResponse"
                },
                "examples": {
                  "adjust_response_example": {
                    "value": {
                      "movement_id": "915",
                      "position": {
                        "position_id": "variant:941",
                        "qty_total": 21,
                        "qty_reserved": 3,
                        "qty_available": 18
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido ou estoque insuficiente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "API key inválida ou ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Variante não encontrada para a loja.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/inventory/adjust/batch": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Ajustar estoque em lote na integração externa",
        "description": "Processa múltiplos ajustes de estoque na mesma requisição.\n**Limite: máximo 100 itens por batch.** Para quantidades maiores, use múltiplos batches.\nCada item aceita `variant_id` **ou** `sku` para identificar a variante.\nSe ambos forem enviados no item, `variant_id` tem prioridade.\nPara `sku` ambíguo na loja, o item retorna erro e os demais continuam.\nProcessamento com isolamento por item: falha em um item não interrompe os demais.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryAdjustBatchRequest"
              },
              "examples": {
                "mixed_identifiers_batch": {
                  "value": {
                    "items": [
                      {
                        "movement_type": "IN",
                        "variant_id": "941",
                        "qty": 5,
                        "cost": "21.50",
                        "note": "Reposição por ID"
                      },
                      {
                        "movement_type": "OUT",
                        "sku": "CAM-BLK-M",
                        "qty": 2,
                        "note": "Baixa por SKU"
                      },
                      {
                        "movement_type": "SET",
                        "sku": "CAM-BLK-G",
                        "qty": 10,
                        "price": "79.90",
                        "promotional_price": "69.90",
                        "cost": "30.00",
                        "note": "Ajuste completo"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lote processado com sucesso (com possíveis erros por item).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryAdjustBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido (array vazio, limite de 100 itens excedido, etc).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "limit_exceeded": {
                    "value": {
                      "message": "máximo 100 itens por batch; use múltiplos batches para mais itens"
                    }
                  },
                  "empty_items": {
                    "value": {
                      "message": "items deve conter ao menos 1 ajuste"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "API key inválida ou ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/v1/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Listar pedidos da integração externa",
        "description": "Retorna pedidos ordenados por `id` em ordem decrescente (mais recentes primeiro).\nA paginação é baseada em páginas: use `page` para navegar e `total_pages` na resposta para saber o total de páginas.\nCada pedido inclui `payment_method` (`pix`, `boleto`, `credit_card`, `faturado`) e, quando for cartão, `installments`.\n\nTotais de solicitado vs atendido:\n- `requested_total` / `requested_items_qty`: valor e quantidade **solicitados** (`original_qty` de todos os itens, inclusive `removed`).\n- `fulfilled_total` / `fulfilled_items_qty`: valor e quantidade **atendidos** (`qty` dos itens `active` e `attended`).\n- Itens com `status: removed` (soft delete) entram no solicitado, não entram no atendido e continuam em `items`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Número da página (começa em 1)."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "RESERVED",
                "CONFIRMED",
                "PROCESSING",
                "INVOICED",
                "SHIPPED",
                "CANCELED"
              ]
            },
            "description": "Filtra pedidos por status. Valores possíveis: `RESERVED` (aberto/aguardando pagamento), `CONFIRMED` (aprovado/pago), `PROCESSING` (em processamento/separação), `INVOICED` (nota fiscal emitida), `SHIPPED` (despachado/entregue), `CANCELED` (cancelado).\n"
          },
          {
            "$ref": "#/components/parameters/integration"
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filtra pedidos por external_id no contexto da integração."
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Data inicial (inclusiva) para filtrar por created_at do pedido na timezone configurada por EXTERNAL_ORDERS_DATE_TZ (padrão America/Sao_Paulo).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Data final (inclusiva) para filtrar por created_at do pedido na timezone configurada por EXTERNAL_ORDERS_DATE_TZ (padrão America/Sao_Paulo).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                },
                "examples": {
                  "orders_list_example": {
                    "value": {
                      "data": [
                        {
                          "id": "96",
                          "external_ref": {
                            "integration": "bling",
                            "external_id": "PED-2026-00096"
                          },
                          "order_status": "RESERVED",
                          "payment_status": "unpaid",
                          "payment_method": "pix",
                          "payment_method_name": "Pix",
                          "installments": null,
                          "invoice": {
                            "order_id": "24",
                            "status": "AUTHORIZED",
                            "nf_number": "000001234",
                            "pdf_url": "https://img.binext.com.br/uploads/8d08137b-1bfa-47be-938d-e44273ca9f53.pdf",
                            "xml_url": "https://img.binext.com.br/uploads/e8d4988b-636a-4107-8126-db7d633b73b0.xml",
                            "access_key": "35260312345678000199550010000012341234567890",
                            "integration_name": "manse",
                            "integration_reference_id": "MANSE-2026-04521",
                            "updated_at": "2026-03-17T13:19:52.419137+00:00"
                          },
                          "customer": {
                            "id": "42",
                            "name": "Maria Souza",
                            "email": "maria.souza@cliente.com",
                            "phone": "+55 11 98888-0001",
                            "customer_type": "RETAIL",
                            "status": "APPROVED",
                            "retail_profile": {
                              "cpf": "12345678901",
                              "gender": "female",
                              "birth_date": "1990-01-01",
                              "address_zip": "01001000",
                              "address_street": "Rua das Flores",
                              "address_number": "100",
                              "address_complement": "Apto 42",
                              "address_neighborhood": "Centro",
                              "address_city": "São Paulo",
                              "address_state": "SP",
                              "meta": {}
                            },
                            "wholesale_profile": null
                          },
                          "shipping_address": {
                            "street": "Rua das Flores",
                            "number": "100",
                            "neighborhood": "Centro",
                            "city": "São Paulo",
                            "state": "SP",
                            "zip": "01001000"
                          },
                          "subtotal": "319.00",
                          "discount": "0.00",
                          "shipping": "0.00",
                          "total": "319.00",
                          "total_items_qty": 1,
                          "requested_total": "319.00",
                          "requested_items_qty": 1,
                          "fulfilled_total": "319.00",
                          "fulfilled_items_qty": 1,
                          "items_count": 1,
                          "items": [
                            {
                              "id": "143",
                              "variant_id": "1608",
                              "sku": "VE230034-AZIT-UN",
                              "qty": 1,
                              "original_qty": 1,
                              "unit_price": "319.00",
                              "status": "active"
                            }
                          ],
                          "allocations": [],
                          "created_at": "2026-03-04T22:20:00Z",
                          "updated_at": "2026-03-04T22:20:00Z"
                        },
                        {
                          "id": "95",
                          "external_ref": {
                            "integration": "bling",
                            "external_id": "PED-2026-00095"
                          },
                          "order_status": "CONFIRMED",
                          "payment_status": "paid",
                          "payment_method": "credit_card",
                          "payment_method_name": "Cartão de crédito",
                          "installments": 3,
                          "invoice": null,
                          "customer": {
                            "id": "18",
                            "name": "Loja Exemplo Atacado",
                            "email": "compras@lojaexemplo.com.br",
                            "phone": "+55 11 95555-0002",
                            "customer_type": "WHOLESALE",
                            "status": "APPROVED",
                            "retail_profile": null,
                            "wholesale_profile": {
                              "contact_name": "Fernanda Lima",
                              "company_name": "Loja Exemplo Atacado LTDA",
                              "trade_name": "Loja Exemplo",
                              "cnpj": "12345678000199",
                              "state_registration": "123.456.789.110",
                              "segment": "MODA",
                              "address_zip": "01310930",
                              "address_street": "Avenida Paulista",
                              "address_number": "1500",
                              "address_complement": "Conjunto 101",
                              "address_neighborhood": "Bela Vista",
                              "address_city": "São Paulo",
                              "address_state": "SP",
                              "meta": {}
                            }
                          },
                          "shipping_address": {
                            "street": "Avenida Paulista",
                            "number": "1500",
                            "complement": "Conjunto 101",
                            "neighborhood": "Bela Vista",
                            "city": "São Paulo",
                            "state": "SP",
                            "zip": "01310930"
                          },
                          "subtotal": "1248.00",
                          "discount": "48.00",
                          "shipping": "20.00",
                          "total": "1220.00",
                          "total_items_qty": 4,
                          "requested_total": "1220.00",
                          "requested_items_qty": 4,
                          "fulfilled_total": "1220.00",
                          "fulfilled_items_qty": 4,
                          "items_count": 2,
                          "items": [
                            {
                              "id": "141",
                              "variant_id": "1601",
                              "sku": "VE230010-PRETO-M",
                              "qty": 2,
                              "original_qty": 2,
                              "unit_price": "299.00",
                              "status": "active"
                            },
                            {
                              "id": "142",
                              "variant_id": "1602",
                              "sku": "VE230010-PRETO-G",
                              "qty": 2,
                              "original_qty": 2,
                              "unit_price": "325.00",
                              "status": "attended"
                            }
                          ],
                          "allocations": [],
                          "created_at": "2026-03-03T18:10:00Z",
                          "updated_at": "2026-03-03T18:45:00Z"
                        }
                      ],
                      "page": 1,
                      "total_pages": 10,
                      "total": 97
                    }
                  },
                  "order_with_removed_item": {
                    "summary": "Pedido com item removido (soft delete)",
                    "value": {
                      "data": [
                        {
                          "id": "110",
                          "external_ref": null,
                          "order_status": "CONFIRMED",
                          "payment_status": "paid",
                          "payment_method": "pix",
                          "payment_method_name": "Pix",
                          "installments": null,
                          "invoice": null,
                          "customer": {
                            "id": "42",
                            "name": "Maria Souza",
                            "email": "maria.souza@cliente.com",
                            "phone": "+55 11 98888-0001",
                            "customer_type": "RETAIL",
                            "status": "APPROVED",
                            "retail_profile": {
                              "cpf": "12345678901",
                              "gender": "female",
                              "birth_date": "1990-01-01",
                              "meta": {}
                            },
[...]
